html,
body,
#root {
  height: 100%;
  width: 100%;
}

.appWrapper {
  text-align: center;
}
label + .MuiInput-formControl {
  margin-top: 15px !important;
}
.MuiInputBase-input {
  padding: 5px 0px 7px !important;
}
